# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.venv
.venv/lib

# Ignore SASS config files
.sass-cache
.GeoIP
.vscode
.mypy_cache
GeoIP
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
vscode