<!DOCTYPE html>
<html lang="en">
  <head>  
    <style type="text/css">
      .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        background-color:#1111;
      }
    </style>

    <title>
      {% block title %}
        GeoSpots app
      {% endblock %}
    </title>
    
  </head>
  <body>
    <header>
      {% include 'posts/includes/header.html' %}
    </header>
    
    <main>
      <center>
        {% block content %}

        {% endblock %}
      </center>
    <footer class="border-top text-center py-3">        
      {% include 'posts/includes/footer.html' %}
    </footer>
  </body>