<!DOCTYPE html>
<html lang="en">
  {% load static %}
  <head> 
    <link rel="stylesheet" href="{% static 'css/style.css' %}">



    <title>
      {% block title %}
        GeoSpots app
      {% endblock %}
    </title>
    
  </head>
  <body>
    <header>
      {% include 'posts/includes/header.html' %}
    </header>
    
    <main>
      <center>
        {% block content %}
          {% include 'post_form.html' %}
        {% endblock %}
      </center>
    <footer class="border-top text-center py-3 bodycolor" >       
      {% include 'posts/includes/footer.html' %}
    </footer>
  </body>