{% extends 'posts/base.html'%}
{% block title %}
{% load thumbnail %}
{% if is_edit %}
  Редактировать пост
{% else %}
  Новый пост
{% endif %} 
{% endblock title %}
{% block content%}







<div class='padding_top'>
  <div class="container py-5">
    <form method="post" enctype="multipart/form-data" action="{% url 'posts:create_post' %}">
      {% csrf_token %}
      <div class="form-group">
        <label for="{{ field.id_for_label }}">Title
          {{ field.title }}
        </label>
        <input textarea class="form-control" >
      </div>
      <div class="form-group">
        <label for="{{ field.id_for_label }}"> Text
          {{ field.text }}
        </label>
        <input textarea class="form-control" rows="3">
      </div>
      <div class="form-group">Latitude
        <label for="{{ field.id_for_label }}">
          {{ field.lat }}
        </label>
        <input textarea class="form-control">
      </div>
      <div class="form-group">
        <label for="{{ field.id_for_label }}">Longitude
          {{ field.lon }}
          <input textarea class="form-control">
        </label>
      </div>
      <div class="form-group">
        <label for="{{ field.id_for_label }}"> Group
          {{ field.group }}
        </label>
        <input type="hidden">
      </div>
      <div class="form-group">
        <label for="{{ field.id_for_label }}">Image
          {{ field.image }}
          <input type="file" class="form-control">
        </label>
      </div>
      <button type="submit" class="btn btn-primary">Send</button>
    </form>
  </div>
</div>
{% endblock content%}