{% extends 'posts/base.html'%}
{% block title %}
  Post {{ post.title }}
{% endblock title %}
{% block content %}  
{% load thumbnail %}  
<div class="container style=border: thin solid black">
  <div class="row">
    <div class="col-md-5">      
      <strong><h4>Post #{{ post.pk }}</h4></strong>
      <aside class="col-12 col-md-7"> 

          <ul class="list-group list-group-flush"> 
            <li class="list-group-item">       
              Author: {{ post.author }}
           </li>
            <li class="list-group-item">
              Pub date: {{ post.pub_date|date:"d E Y" }}
            </li>
            <li class="list-group-item">  
              Point:   {{ post.title }}
            </li>
            <li class="list-group-item">
              Category: {{ post.group.title }}
            </li>
            <li class="list-group-item">
              lat:   {{ post.lat }}
              <p>lon:   {{ post.lon }}</p>
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:add_like' post.pk %}"> 
                <img src="/media/icons/like.jpg" width="25", height="25">
              </a>
              Likes: {{ post.likes.count }}
            </li>
          </ul>

          <div class="col d-flex justify-content-center">
            <div class=" card text-white bg-dark mb-6">
              <div class=" card-body">
                <h4><span class="badge badge-primary">Country Code :</span> {{country_code}}</h4>

                <h4><span class="badge badge-primary">Temperature in Celsius :</span> {{temp}}</h4>

                <h4><span class="badge badge-primary">Forecast : </span>  <img
                    src="http://openweathermap.org/img/w/{{icon}}.png" alt="Image" style="width:70px"></h4>
                <h4><span class="badge badge-primary">Description : </span> {{description}}</h4>
              </div>
            </div>
          </div>

      </aside>
    </div> 
    <article class="col-md-7">
      <p><strong><h4>{{ post.title }}</h4></strong> </p>

      <p>{{ post.text|linebreaksbr }}</p>
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>{{ map_folium|safe }}</p>
      {% if user.is_authenticated and user == post.author %}
        <a href='/'> Edit post</a>
      {% endif %} 
                {% if not post.comments.all %}
                  <p>No comments yet</p>
                  <p><a href={% url 'posts:add_comment' post.pk %}> Add first comment</a>
                {% else %}
                  <h3><strong>Comments:</strong></h3>
                  {% for comment in post.comments.all %}
                     <div class="card mb-3">
                      <div class="row g-5">
                        <div class="col-md-2">
                          {% if comment.author.profile.avatar %}
                            {% thumbnail post.author.profile.avatar "50x50" crop="center" upscale=True as im %}
                              <img class="rounded-circle" src="{{ im.url }}">
                            {% endthumbnail %}
                            <p>{{ comment.author.username }}</p>
                            
                            
                          {% else %}
                            <img src="/media/avatars/noava.jpg" width="50", height="50" class="rounded-circle">
                            <p>{{ comment.author.username }}</p>
                            
                          {% endif %}
                        </div>


                        <div class="col-md-8">
                          <div class="card-body">
                          
                            <p class="card-text">{{ comment.text }}</p>
                            <li class="list-group-item">
                              <a href="{% url 'posts:add_like_comment' comment.pk %}"> 
                                <img src="/media/icons/like.jpg" width="25", height="25">
                              </a>
                              Likes: {{ comment.likes_comment.count }}
                            </li>
                            <p class="card-text"><small class="text-muted">posted {{ comment.whenpublished }}</small></p>
                          </div>
                        </div>
                      </div>
                    </div>
                  {% endfor %} 


                      <form method="post" action="{% url 'posts:add_comment' post.id %}">
                        <input type="hidden" name="csrfmiddlewaretoken" value="" placeholder="Username">      
                        <div class="form-group mb-2">
                          <textarea name="text" cols="40" rows="1" class="form-control" required id="id_text">
                          </textarea>
                        </div>
                        <button type="submit" class="btn btn-primary">Send</button>
                        {% csrf_token %}
                      </form>

                {% endif %}
{% endblock content %}