{% extends 'posts/base.html'%}
{% block title %}
  Post {{ post.title }}
{% endblock title %}
{% block content %}  
{% load thumbnail %}  
<div class="container style=border: thin solid black">
  <div class="row">
    <div class="col-md-5">      
      <strong><h4>Post #{{ post.pk }}</h4></strong>
      <aside class="col-12 col-md-7"> 

          <ul class="list-group list-group-flush"> 
            <li class="list-group-item">       
              Author: {{ post.author }}
           </li>
            <li class="list-group-item">
              Pub date: {{ post.pub_date|date:"d E Y" }}
            </li>
            <li class="list-group-item">  
              Point:   {{ post.title }}
            </li>
            <li class="list-group-item">
              Category: {{ post.group.title }}
            </li>
            <li class="list-group-item">
              lat:   {{ post.lat }}
              <p>lon:   {{ post.lon }}</p>
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:add_like' post.pk %}"> 
                <img src="media/icons/like.jpg" width="25", height="25">
              </a>
              Likes: {{ post.likes.count }}
            </li>
          </ul>

      </aside>
    </div> 
    <article class="col-md-7">
      <p><strong><h4>{{ post.title }}</h4></strong> </p>
      <p>{{ post.text|linebreaksbr }}</p>
      {% thumbnail post.image "960x339" crop="center" upscale=True as im %}
        <img class="card-img my-2" src="{{ im.url }}">
      {% endthumbnail %}
      <p>{{ map_folium|safe }}</p>
      {% if user.is_authenticated and user == post.author %}
        <a href='/'> Edit post</a>
      {% endif %} 
      <div class="card my-4">
        <h5 class="card-header">Add comment:</h5>
        <div class="card-body">
          <form method="post" action="{% url 'posts:add_comment' post.id %}">
            <input type="hidden" name="csrfmiddlewaretoken" value="">      
            <div class="form-group mb-2">
              <textarea name="text" cols="40" rows="10" class="form-control" required id="id_text">
              </textarea>
            </div>
            <button type="submit" class="btn btn-primary">Send</button>
            {% csrf_token %}
          </form>
        </div>
      </div>
      <h4> Comments: </h4>
      {% for comment in post.comments.all %}
        <div class="media mb-4">
          <div class="media-body">
            <h5 class="mt-0">
              <a href="{% url 'posts:profile' comment.author.username %}">
                {{ comment.author.username }}
              </a>
            </h5>
        {{ comment.date_added }}
        <p>
          {{ comment.text }}
        </p>
          </div>
        </div> 
      {% endfor %} 

    </article>
  </div>     
</div>  

{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{% url 'posts:profile' comment.author.username %}">
          {{ comment.author.username }}
        </a>
      </h5>
        <p>
         {{ comment.text }}
        </p>
      </div>
    </div>

{% endfor %}               
    </article>
  </div>     
</div> 
{% endblock content %}